*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: 1s;
    background-color: black;
    color: pink;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-header{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-header-two{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-header-three{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-one{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.intro-one.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.intro-one.fade{
    bottom: 20px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.intro-one.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.intro-two{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.intro-two.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.intro-two.fade{
    bottom: 20px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.intro-three{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.intro-three.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.intro-three.fade{
    bottom: 20px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
























